body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

#home {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: white;
}

#brandName {
  font-size: 25px;
  color: rgb(79, 168, 144);
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

main {
  height: calc(100% - 60px);
  width: 100%;
  text-align: center;
}

.blanc {
  color: white;
  padding-top: 10px;
}

#twocards {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  width: 30%;
  padding: 16px;
}

.imgtrain {
  width: 100px;
  margin: auto;
}

.borderTrain {
  border: 1px solid green;
  width: 80%;
}

#cart {
  background-color: #f7f1f0;
}

#maincart {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myCart {
  background-color: white;
  border-radius: 8px;
  width: 30%;
  padding: 16px;
}

#entete {
  font-size: 8px;
  padding-bottom: 60px;
}

#footer {
  display: flex;
  height: 10%;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.purchase {
  background-color: rgb(79, 168, 144);
}

.planTrip {
  background-color: white;
  border-radius: 8px;
  width: 30%;
  padding: 16px;
}
